
// media content


//mobile
@media (min-width: 0px){
	
	.QuoteHeader{
		padding: 6em;

		h2{
			font-size: 20px;
		}
	}

}





//small desktop / ipad?

@media (min-width: 480px){
	
	

}





//half-screen
@media (min-width: 768px){

	.QuoteHeader{
		padding: 8em;

		h2{
			font-size: 55px;
		}

	}
	


	footer{
		clear: both;
	}
}





//full screen

@media (min-width: 1340px){

	

	footer{
		clear: both;
	}

}







