
// media content


//mobile
@media (min-width: 0px){
	
	.QuoteHeader{
		padding: 6em;

		h2{
			font-size: 20px;
		}
	}



	.plans{
		width: 100%;

		.plan-header{
			padding: 2em 0;
		}

		.plan-types{
			width: 100%;
			margin-bottom: 3em;
			
		}
	}

	.info-block{
		padding: 2em;
		box-sizing: border-box;
		margin: 1em auto;
	}
}





//small desktop / ipad?

@media (min-width: 480px){
	
	.SimplePrice{
		padding: 5em;

		h2{
			font-size: 40px;
		}
	}

	.plans{
		width: 100%;

		.plan-types{
			width: 100%;
			margin-bottom: 3em;
		}

	}

}





//half-screen
@media (min-width: 768px){

	.SimplePrice{
		padding: 8em;

		h2{
			font-size: 55px;
		}

	}
	
	.plans{
		width: 90%;
		max-width: 60em;
		margin: 0 auto;

		.plan-header{
			padding: 2em 0;
		}

		.plan-types{
			width: 30%;
			max-width: 18em;
		}
	}


	.personal-plan{
		float: left;
	}

	.small-bus-plan{
		margin-left: 5%;
		float: left;

		h1{
			font-size: 15px;
			padding-top: 1.2em;
		}
	}
	
	.enterprise-plan{
		float: right;
	}

	.personal-plan, .enterprise-plan{
		
		h1{
			font-size: 16px;
			padding-top: 1em;
		}
	}

	h2{
		font-size: 80px;
	}

	h3{
		font-size: 19px;
	}

	.more-info{
		width: 90%;
		max-width: 60em;
		margin: 0 auto;
	}

	.info-block{
		width: 45%;
		padding: 1em 0;
		float: left;

		&:nth-child(even){
			float: right;
		}
	}

	footer{
		clear: both;
	}
}





//full screen

@media (min-width: 1340px){

	.plans{
		width: 60em;
		margin: 0 auto;

		.plan-types{
			width: 18em;

		}
	}

	.personal-plan{
		float: left;
	}
	
	.small-bus-plan{
		margin-left: 5%;

		h1{
			font-size: 15px;
			padding-top: 1.2em;
		}
	}

	.enterprise-plan{
		float: right;
	}

	.personal-plan, .enterprise-plan{
		margin: 0 auto;

		h1{
			font-size: 16px;
			padding-top: 1em;
		}
	}


	.more-info{
		width: 60em;
		margin: 0 auto;
		
	}

	.info-block{
		width: 45%;
		padding: 1em 0 0 0;
		float: left;

		&:nth-child(even){
			float: right;
		}
	}

	footer{
		clear: both;
	}

}







